version: '3.8'

services:
  # ------------------------------------
  # SOCKET PROXY
  # ------------------------------------
  socket-proxy:
    image: alpine/socat
    container_name: socket-proxy
    restart: always
    privileged: true
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: tcp-listen:2375,fork,reuseaddr,bind=0.0.0.0 unix-connect:/var/run/docker.sock
    networks:
      - energy-net

  # ------------------------------------
  # TRAEFIK
  # ------------------------------------
  traefik:
    image: "traefik:v2.11"
    container_name: "traefik"
    depends_on:
      - socket-proxy
    environment:
      - TRAEFIK_PROVIDERS_DOCKER_APIVERSION=1.41
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.endpoint=tcp://socket-proxy:2375"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8088:8080"
    networks:
      - energy-net

  # ------------------------------------
  # BACKEND SERVICES (DBs + JAVA)
  # ------------------------------------
  user-db:
    image: postgres:15-alpine
    container_name: user-db
    environment:
      POSTGRES_DB: user-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: monica1234
    volumes:
      - user-data:/var/lib/postgresql/data
    networks:
      - energy-net

  user-service:
    build: ./user-microservice
    container_name: user-service
    depends_on:
      - user-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://user-db:5432/user-db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: monica1234
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      DEVICE_SERVICE_URL: http://device-service:8081/sync/users
      server.port: 8080
    networks:
      - energy-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.user.rule=PathPrefix(`/people`)"
      - "traefik.http.services.user.loadbalancer.server.port=8080"

  device-db:
    image: postgres:15-alpine
    container_name: device-db
    environment:
      POSTGRES_DB: device-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: monica1234
    volumes:
      - device-data:/var/lib/postgresql/data
    networks:
      - energy-net

  device-service:
    build: ./device-microservice
    container_name: device-service
    depends_on:
      - device-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://device-db:5432/device-db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: monica1234
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      server.port: 8081
    networks:
      - energy-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.device.rule=PathPrefix(`/devices`) || PathPrefix(`/sync`)"
      - "traefik.http.services.device.loadbalancer.server.port=8081"

  auth-db:
    image: postgres:15-alpine
    container_name: auth-db
    environment:
      POSTGRES_DB: credentials-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: monica1234
    volumes:
      - auth-data:/var/lib/postgresql/data
    networks:
      - energy-net

  auth-service:
    build: ./auth-microservice
    container_name: auth-service
    depends_on:
      - auth-db
      - user-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-db:5432/credentials-db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: monica1234
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      server.port: 8082
      USER_SERVICE_URL: http://user-service:8080/people
    networks:
      - energy-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=PathPrefix(`/auth`)"
      - "traefik.http.services.auth.loadbalancer.server.port=8082"

  # ------------------------------------
  # FRONTEND
  # ------------------------------------
  frontend:
    build: ./react-demo
    container_name: frontend-react
    stdin_open: true
    tty: true
    environment:
      - WDS_SOCKET_PORT=0
    networks:
      - energy-net
    depends_on:
      - auth-service
      - user-service
      - device-service
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=3000"
    volumes:
      - ./react-demo/src:/app/src
      - ./react-demo/public:/app/public

volumes:
  user-data:
  device-data:
  auth-data:

networks:
  energy-net:
    driver: bridge